<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Taco Cloud</title>
</head>
<body>
<h1 title="I'm a tooltip">Welcome to...</h1>
<h2>Taco Cloud</h2>
<p>Here you can create your personal taco recipe and then <br>
    have it with free delivery to your home address</p>
<a th:href="@{/design}">
    <button class="button">
        Design Your Taco
    </button>
</a>
</body>
</html>