<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
    <h1 th:class="order">Order your taco creations!</h1>
    <h3>Your tacos in this order:</h3>
    <a th:href="@{/design}" id="another">
        <button th:class="button2">
            Design another taco
        </button>
    </a>
    <br/>
    <ul>
        <li th:class="name" th:each="taco : ${tacoOrder.tacos}">
            <span th:text="${taco.name}">taco name</span>
        </li>
    </ul>
    <h3>Deliver my taco masterpieces to...</h3>
    <label for="deliveryName" th:class="label">Name: </label>
    <input type="text" th:field="*{deliveryName}" th:class="input"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryName')}"
          th:errors="*{deliveryName}" th:class="error">Name is required
    </span>
    <br/>
    <label for="deliveryStreet" th:class="label">Street address: </label>
    <input type="text" th:field="*{deliveryStreet}" th:class="input"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryStreet')}"
          th:errors="*{deliveryStreet}" th:class="error">Street is required
    </span>
    <br/>
    <label for="deliveryCity" th:class="label">City: </label>
    <input type="text" th:field="*{deliveryCity}" th:class="input"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryCity')}"
          th:errors="*{deliveryCity}" th:class="error">City is required
    </span>
    <br/>
    <label for="deliveryState" th:class="label">State: </label>
    <input type="text" th:field="*{deliveryState}" th:class="input"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryState')}"
          th:errors="*{deliveryState}" th:class="error">State is required
    </span>
    <br/>
    <label for="deliveryZip" th:class="label">Zip code: </label>
    <input type="text" th:field="*{deliveryZip}" th:class="input"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryZip')}"
          th:errors="*{deliveryZip}" th:class="error">Zip code is required
    </span>
    <br/>
    <h3>How I would like to pay...</h3>
    <label for="ccNumber" th:class="label">Credit Card #: </label>
    <input type="text" th:field="*{ccNumber}" th:class="input"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('ccNumber')}"
          th:errors="*{ccNumber}" th:class="error">Not a valid credit card number
    </span>
    <br/>

    <label for="ccExpiration" th:class="label">Expiration: </label>
    <input type="text" th:field="*{ccExpiration}" th:class="input"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('ccExpiration')}"
          th:errors="*{ccExpiration}" th:class="error">Wrong CC Expiration date
    </span>
    <br/>
    <label for="ccCVV" th:class="label">CVV: </label>
    <input type="text" th:field="*{ccCVV}" th:class="input"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('ccCVV')}"
          th:errors="*{ccCVV}" th:class="error">Incorrect CVV number

    </span>
    <br/>
    <input type="submit" value="Submit Order" th:class="button1"/>
</form>
</body>
</html>